doctype html
html
  head
  
  body
    p Your account is automatically downgraded due to expiration of your credit card. If you would like to continue using the digest service, please login your account and upgrade your account. Thanks.
